$font-stack:'Caveat', cursive;
$web-weight:1180px;
$text-color:rgb(131, 94, 26);
$text-shadow:2px 4px 5px rgb(146, 195, 207);
$shadow-color:rgb(146, 195, 207);
$border-color:rgb(180, 170, 149);
